{{- if .Values.features.enableRBAC }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.app.name }}-sa
  namespace: {{ .Values.app.name }}-namespace
  labels:
    app: {{ .Values.app.name }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ .Values.app.name }}-role
  namespace: {{ .Values.app.name }}-namespace
  labels:
    app: {{ .Values.app.name }}
rules:
- apiGroups: [""]
  resources: ["configmaps", "secrets"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["pods/log"]
  verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .Values.app.name }}-rolebinding
  namespace: {{ .Values.app.name }}-namespace
  labels:
    app: {{ .Values.app.name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ .Values.app.name }}-role
subjects:
- kind: ServiceAccount
  name: {{ .Values.app.name }}-sa
  namespace: {{ .Values.app.name }}-namespace
{{- end }}
